.swipe {
  position: absolute;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80vw;
  max-width: 310px;
  height: 500px;
  border-radius: 20px;
  border-style: solid;
  background-color: #fff;
  box-shadow: inset 0px -7px 20px -7px rgba(0, 0, 0, 0.3);
  transition: background-size 0.1s ease-in;
  -moz-transition: background-size 0.1s ease-in;
  -web-kit-transition: background-size 0.1s ease-in;
  overflow: hidden;
}

.image {
  display: flex;
  width: 300px;
  /* height: 490px; */
  border-radius: 15px;
  background-repeat: no-repeat;
  flex-direction: column;
  background-origin: content-box;
  overflow: hidden;
  padding-top: 30px;
}

.contentWrapper {
}

.imageWrapper {
  /* background-color: aqua; */
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.infoIcon {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 150%;
  /* background-color: aqua; */
  padding: 10px;
  color: gray;
}

.expandedSection {
  width: 100%;
  height: 150px;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  animation: slideUp 0.15s ease-out 0s 1;
  animation-direction: alternate;
  /* position: absolute; */
  /* bottom: 0; */
}

.cardSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* border-style: solid; */
}

.topSection {
  flex: 1;
  border-radius: 15px;
  /* background-color: aqua; */
}
.leftRightWrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.leftSection {
  flex: 1;
  /* border-style: solid; */
}

.rightSection {
  flex: 1;
  /* border-style: solid; */
}

.bottomSection {
  flex: 0.5;
  justify-content: flex-end;
  /* border-style: solid; */
}

.imagePagination {
  display: absolute;
  height: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  color: white;
  font-size: 280%;
  animation: flash 0.75s ease-out 1;
  /* left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%; */
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  /* 100% {
    opacity: 0;
  } */
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    /* height: 0px; */
  }
  100% {
    transform: translateY(0%);
    /* height: 150px; */
  }
}
